.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.class
.jdk/

# Native scaffolding gerada por `flutter create .`
/android/
/ios/
/web/
/linux/
/macos/
/windows/

# IDE
.vscode/
.idea/
